
<div>
    <br><br>
            <div class="position-fixed btn-group-vertical btn-lg">
                <a href="../" class="btn btn-info btn-lg">
                    <i class="fa fa-home"></i>
                </a>
                <a href="./propietario" class="btn btn-info btn-lg">
                    <i class="fa fa-address-card-o"></i>
                </a>
                <a href="./vehiculo" class="btn btn-info  btn-lg">
                    <i class="fa fa-car"></i>
                </a>
                <a href="./conductor" class="btn btn-info btn-lg">
                    <i class="fa fa-users"></i>
                </a>
                <div class="btn-group">
                    <a type="a" class="btn btn-info dropdown-toggle  btn-lg" data-toggle="dropdown">
                        <i class="fa fa-file-text"></i>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="./registro">
                        <i class="fa fa-list">
                        </i><span> </span>  Registros
                      </a>
                      <a class="dropdown-item" href="./informe">
                        <i class="fa fa-pie-chart">
                        </i><span> </span> Informes
                      </a>
                    </div>
                </div>
            </div> 

</div>




  